<div class="col-lg-10 offset-lg-1 space">
  <div class="container">
    <h2>配送先編集</h2>
    <%= form_with(model: @address, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :郵便番号（ハイフンなし） %>
        <%= f.text_field :post_code, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group"></div>
      <div class="form-group"></div>
      <div class="form-group"></div>
    <% end %>
  </div>
</div>


<!-- before -->
<!-- 配送先編集画面 -->
<div class="edit address container">
  <%= render partial: 'layouts/flash', flash: flash %>
  <h2>配送先編集</h2>
  <!-- 編集フォーム -->
  <%= form_for (@address) do |f| %>
  <table border="0" width="700" >
    <tr>
      <th width="25%">郵便番号(ハイフンなし)</th>
      <td>
        <div class="form-group">
      <%= f.text_field :post_code, autofocus:true %>
      </div>
    </td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
      <div class="form-group">
      <%= f.text_field :address, autofocus:true, size: 50 %>
      </div>
    </td>
  </tr>
  <tr>
    <th>宛名</th>
    <td>
      <div class="form-group">
      <%= f.text_field :addressee, autofocus:true %>
      </div>
    </td>
    <td><%= f.submit "編集する", class:"btn btn-primary" %></td>
  </tr>
  <% end %>
  </table>
</div>