<div class="col-lg-10 offset-lg-1 offset-1 space">
  <div class="container-fluid">
    <h2>
      <span style="display: inline-block;">配送先</span>
      <span style="display: inline-block;">登録/一覧</span>
    </h2>
  </div>
  <!-- 新規住所フォーム -->
  <div class="container space">
    <h3>新しく住所を登録</h3>
    <%= form_with(model: @address, local: true, class: 'container-fluid') do |f| %>
      <div class="form-group">
        <%= f.label :郵便番号（ハイフンなし） %>
        <%= f.text_field :post_code, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :住所 %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :宛名 %>
        <%= f.text_field :addressee, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit '登録する', class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>

  <!-- 住所一覧 -->
  <div class="container space">
    <h3>住所一覧</h3>
      <div class="row">
        <div class="col-lg-3">
          <strong>郵便番号</strong>
        </div>
        <div class="col-lg-3">
          <strong>住所</strong>
        </div>
        <div class="col-lg-3">
          <strong>宛名</strong>
        </div>
      </div>
    <% @addresses.each do |address| %>
      <div class="row">
        <div class="col-lg-3">
          <%= address.post_code %>
        </div>
        <div class="col-lg-3">
          <%= address.address %>
        </div>
        <div class="col-lg-3">
          <%= address.addressee %>
        </div>
        <div class="col-lg-3">
          <%= link_to "編集する", edit_address_path(address), class:"btn btn-danger" %>
            <%= link_to "削除する", address_path(address), method: :delete, class:"btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

