<div class='col-lg-6 offset-lg-4 offset-1 space'>
  <div class="row">
    <h3>
      <span style="display: inline-block;">会員の方は</span>
      <span style="display: inline-block;">こちらからログイン</span>
    </h3>
  </div>

  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="form-row space">
      <div class="col-lg-5">
        <h5><%= f.label :Eメール %></h5>
      </div>
      <div class="col-lg-7">
        <%= f.text_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-lg-5">
        <h5><%= f.label :パスワード %></h5>
      </div>
      <div class="col-lg-7">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div>
      <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
    </div>

    <div class="action w-25 offset-5 space">
      <%= f.submit "ログイン", class:"btn btn-danger" %>
    </div>

    <% end %>
  </div>

  <div class="space">
    <h4>登録がお済みでない方</h4>
    <h5><%= link_to "こちら", new_customer_registration_path  %>から新規登録してください。</h5>
  </div>

</div>
